.App {
  text-align: center;
  padding: 2em;
  min-height: 100%;
  /* animation: col 6s infinite linear; */
}


@media only screen and (max-width: 425px) {
  .App {
    text-align: center;
    padding: 0.5em;
    min-height: 100%;
  }
}

/* @keyframes col { 
  0% {background-color:#ffc5085c;} 
  25% {background-color:#4a96851a;} 
  50% {background-color:#a51c9e1a;} 
  75% {background-color:#bb00ff1a;} 
  100% {background-color:#e6d5ec1a;} 
} */